<dx-toolbar>
    <dxi-item 
        location="after"
        locateInMenu="auto"
        [visible]="!isUserAuthorized">
        <div *dxTemplate>
            <dx-button
                icon="user"
                text="Login"
                (onClick)="onShowLoginPopup()">
            </dx-button>
        </div>
    </dxi-item>
    <dxi-item 
        location="after"
        locateInMenu="auto"
        [visible]="isUserAuthorized">
        <div *dxTemplate>
            <img class="user-image" src="https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/employees/01.png">
            {{user}}
        </div>
    </dxi-item>
</dx-toolbar>
<dx-popup [(visible)]="showLoginPopup" title="Login" height="auto" [width]="300">
    <div *dxTemplate="let data of 'content'">
        <app-login (onLoginClick)="loginClick($event)"></app-login>
    </div>
</dx-popup>