<dx-toolbar [height]="70">
    <dxi-item 
        location="before"
        locateInMenu="auto">
        <div *dxTemplate>
            <h2 class="page-name">{{selectedItem}}</h2>
        </div>
    </dxi-item>
    <dxi-item 
        location="after"
        widget="dxButton"
        locateInMenu="auto"
        [options]="{
            icon: 'message'
        }">
    </dxi-item>
    <dxi-item 
        location="after"
        widget="dxButton"
        locateInMenu="auto"
        [visible]="!isUserAuthorized"
        [options]="buttonOptions">
    </dxi-item>
    <dxi-item 
        location="after"
        locateInMenu="auto"
        [visible]="!isUserAuthorized"
        [options]="buttonOptions">
    </dxi-item>
    <dxi-item 
        location="after"
        locateInMenu="auto"
        [visible]="isUserAuthorized"
        [html]="userTemplate">
    </dxi-item>
</dx-toolbar>
<dx-popup [(visible)]="showLoginPopup" height="auto" [width]="300">
    <div *dxTemplate="let data of 'content'">
        <app-login (onLoginClick)="loginClick($event)"></app-login>
    </div>
</dx-popup>