<div class="menu-header">
    <dx-button
        icon="menu"
        text="Demo"
        (onClick)="showMenu()"
        [height]="50"></dx-button>
</div>
<dx-accordion
    [multiple]="true"
    [collapsible]="true"
    [width]="270"
    [dataSource]="menuItems">
    <div *dxTemplate="let menuItem of 'item'">
        <dx-tree-view 
            [items]="menuItem.subMenu" 
            class="navigation-treeview" 
            (onItemClick)="onItemSelectionChanged($event)" 
            [selectByClick]="true"
            [width]="200"
            selectionMode="single">
        </dx-tree-view>
    </div>
</dx-accordion>