<dx-toolbar [width]="270" [height]="70">
    <dxi-item 
        location="before"
        widget="dxButton"
        locateInMenu="auto"
        [options]="{
            icon: 'menu',
            text: 'Demo',
            onClick: showMenu
        }">
    </dxi-item>
</dx-toolbar>
<dx-accordion
    [multiple]="true"
    [collapsible]="true"
    [width]="270"
    [dataSource]="menuItems">
    <div *dxTemplate="let menuItem of 'item'">
        <dx-tree-view 
            [items]="menuItem.subMenu" 
            class="navigation-treeview" 
            (onItemClick)="onItemSelectionChanged($event)" 
            [selectByClick]="true"
            [width]="200"
            selectionMode="single">
        </dx-tree-view>
    </div>
</dx-accordion>