::ng-deep .dx-slideoutview-content.dx-swipeable {
    background-color: #FFFFFF;
}

::ng-deep .dx-slideoutview-left {
    background-color: #1C2B33;
}

.slide-layout {
    position: absolute;
    top: 0;
    bottom: 0;
}